*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
.Header-4{
    position: static;
    background: #FAFAFA;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}
#container-top{
    width: 1322px;
    height: 91px;
    left: 59px;
    top: 0px;
    margin-bottom: 10px;
}
.btn-text{
    position: static;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    /* text-align: center; */
    letter-spacing: 0.2px;
}
.light-text-color{
    color: #FFFFFF;
}
.primary-color{
    background: #23A6F0;
    border-radius: 5px;
}
.light-gray-1{
    background: #FAFAFA;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px; 
}
.light-background-color{
    background: #FFFFFF;
}
.background-gradien-1{
    background: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
}
.dark-background-color{
    background: #252B42;
}
.disabled-element-color{
    background: #8EC2F2;
}
.text-color{
    color: #252B42;
}
h1 h2 h3 h4 h5 h6 {
    font-family: Montserrat;
    font-style: normal;
}
h1{
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
}
h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
}
h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.background{
    position: absolute;
    width: 1440px;
    height: 700px;
    left: 0px;
    top: 0px;
}
.filter{
    background: rgba(0, 0, 0, 0.5);
}
#hero-cover-5{
    background-image: url(img/herocover5.png);
    /* background: rgba(0, 0, 0, 0.5); */
    
}
.navbar-style-2{
    position: absolute;
    width: 1322px;
    height: 91px;
    left: calc(50% - 1322px/2);
    top: 0px;
}
.navbar-brand{
    position: relative;
    width: 187px;
    height: 58px;
    left: calc(50% - 187px/2 - 431.5px);
    top: calc(50% - 58px/2 + 0.5px);
}
.navbar-brand>h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.collapse .navbar-collapse{
    position: absolute;
    width: 815px;
    height: 58px;
    left: calc(50% - 815px/2 + 110.5px);
    top: 16px;
}
#nav-1{
    position: absolute;
    width: 280px;
    height: 24px;
    left: 0px;
    top: calc(50% - 24px/2);

}
.navbar-toggler{
    /* position: relative; */
    visibility: hidden;
    width: 24px;
    height: 13.71px;
    left: 1298px;
    top: 39px;
}
.Header-4>.container>.row>.col-md-6>h4{
    margin: 35px 0px;x
}
#headline-4{
    margin-top: 87px;
}

